.main_nav {background-color: #343434;}
#sn_container {background-color: #343434;}
.colorButton {background-color: #343434;}
.dedicated .price_box p {background-color: #343434;}
.button a {background-color: #343434;}
.title a {background-color: #343434;}
.form_domain .button {background-color: #343434;}
#blog .comments {background-color: #343434;}
#blog .blog_entry .read_more a {background-color: #343434;}
#contact .sidebar {background-color: #343434;}
footer a {color: #343434;}
.send a {background-color: #343434;}
#contact input#button {background-color: #343434;}



.main_nav .logo {background-color: #212121;}
.main_nav .navigation nav.main_nav ul li.active, nav.main_nav2 ul li.active {background-color: #212121;}
#contact .sidebar .location h4, #contact .sidebar .aditional_info h4 {background-color: #212121; box-shadow: inset 3px 3px 1px rgba(0, 0, 0, 0.1);}
#contact .sidebar .location p, #contact .sidebar .aditional_info ul li {border-bottom:1px solid #212121;}
h4#hide {background-color: #212121;}

.responsive_nav {background-color: #343434;}
.mobileAreaMenu li:hover {background-color: #212121;}