.main_nav {background-color: #28af91;}
#sn_container {background-color: #28af91;}
.colorButton {background-color: #28af91;}
.dedicated .price_box p {background-color: #28af91;}
.button a {background-color: #28af91;}
.title a {background-color: #28af91;}
.form_domain .button {background-color: #28af91;}
#blog .comments {background-color: #28af91;}
#blog .blog_entry .read_more a {background-color: #28af91;}
#contact .sidebar {background-color: #28af91;}
footer a {color: #28af91;}
.send a {background-color: #28af91;}
#contact input#button {background-color: #28af91;}



.main_nav .logo {background-color: #1f7f6a;}
.main_nav .navigation nav.main_nav ul li.active, nav.main_nav2 ul li.active {background-color: #1f7f6a;}
#contact .sidebar .location h4, #contact .sidebar .aditional_info h4 {background-color: #1f7f6a; box-shadow: inset 3px 3px 1px rgba(0, 0, 0, 0.1);}
#contact .sidebar .location p, #contact .sidebar .aditional_info ul li {border-bottom:1px solid #1f7f6a;}

h4#hide {background-color: #1f7f6a;}

.responsive_nav {background-color: #28af91;}
.mobileAreaMenu li:hover {background-color: #1f7f6a;}