 <div ng-controller="SearchCtrl">{% extends '../layouts/default.html' %}

{% block main %}
  <h1>{{ title }}</h1>
{% endblock %}

{% block content %}
  {% if (searchs.length) %}
    {% for search in searchs %}
      {% include 'search.html' %}
    {% endfor %}

    {% if (pages > 1) %}
      <ul class="pagination">
        {% autoescape false %}
          {{ createPagination(pages, page) }}
        {% endautoescape %}
      </ul>
    {% endif %}
  {% else %}
    <h4 class="muted">
      No searchs.&nbsp;
      <a href="/searchs/new">create one</a>
    </h4>
  {% endif %}
{% endblock %}

</div>