 <div ng-controller="RecentlyViewedCtrl"><div class="recentlyViewed">
  <h3>
    <a href="{{ '/recentlyVieweds/' + recentlyViewed._id }}" title="{{ recentlyViewed.title }}">
      {{ recentlyViewed.title }}
    </a>
  </h3>
  <p>{{ recentlyViewed.body }}</p>

  <span class="muted">{{ recentlyViewed.createdAt.toISOString()|date('M d, Y  h:i a') }}</span>

  {% if (recentlyViewed.user) %}
    &nbsp; - &nbsp;
    <span>Author: </span>
    <a href="{{ '/users/' + recentlyViewed.user._id }}">
      {{ recentlyViewed.user.name || recentlyViewed.user.username }}
    </a>
  {% endif %}

  {% if (recentlyViewed.tags) %}
    &nbsp; - &nbsp;
    <span>Tags: </span>
    {% for tag in recentlyViewed.tags.split(',') %}
      <i class="muted fa fa-tag"></i>&nbsp;
      <a href="{{ '/tags/' + tag }}" class="tag">{{ tag }}</a>
      &nbsp;&nbsp;
    {% endfor %}
  {% endif %}
</div>

</div>